
.leftHero{
    background-color: aquamarine;
    width: ;
    justify-content: space-between;
    width: 600px;
}
.bigcover{
    height: 100%;
display: flex;
flex-direction: row;
justify-content: space-around;
}
.rightbottom{
display: flex;
flex-direction: column;
justify-content: space-between;
}